{:deps {org.clojure/clojurescript       {:mvn/version "1.11.4"}
        org.clojure/core.async          {:mvn/version "1.5.648"}
        clj-commons/citrus              {:mvn/version "3.3.0"}
        com.bhauman/figwheel-main       {:mvn/version "0.2.16"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        rum/rum                         {:mvn/version "0.12.8"}}
 
 :paths   ["src" "resources"]
 :aliases {:dev {:extra-paths ["resources"]
                 :main-opts   ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
