^{:watch-dirs ["src"]
  :css-dirs   ["resources/public/css"]
  :mode       :repl}
{:main       flowtext.core
 :output-to  "resources/public/main.js"
 :output-dir "resources/public/out/"
 :asset-path "out/"

 :pretty-print true
 :source-map   true

 :recompile-dependents false
 :reload-dependents    false}
